html, body {margin: 0; height: 100%; overflow: hidden}

body {
    background-color: #000034;
    
    font-family: "Nunito", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
    line-height: 1.6rem;
    letter-spacing: 0.02em;
    font-weight: 400;
}

#zoom-controller {
    transform-origin: center;
    z-index: 1;
    cursor: move;
    cursor: -moz-move;
    cursor: -webkit-move;
    transition: 0.25s right ease-out;
}

#place {
    position: absolute;
    transform-origin: 0 0;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.55);
}

#canvas-container {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: 0.25s right ease-out;
}

#camera-controller {
    position: relative;
}

.controls {
    z-index: 5;
    width: 160px;
    position: absolute;
    background-color: #000034;
    background: -webkit-linear-gradient(to right, #005c97, #363795); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #005c97, #363795); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 1.5px solid #005C97;
    color: #fff;
    border-radius: 4px;
    margin: 15px;
    padding: 15px;
    box-shadow: 0 4px 14px #005c97;
}

.chat {
    top: 200px;
    z-index: 5;
    width: 190px;
    height: 500px;
    position: absolute;
    color: #fff;
    margin: 0px;
    padding: 15px;
    -webkit-mask-image: linear-gradient(to top, transparent 5%, black 20%, black 75%);
    mask-image: linear-gradient(to top, transparent 5%, black 20%, black 75%);
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

#grid.show {
    display: block!important;;
}

#grid {
    position: absolute;
    display: none;
    z-index: 4;
    opacity: 0.25;
    pointer-events: none;
    transform-origin: 0 0;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

input, button {
    position: relative;
    vertical-align: top;
    width: 100%;
    height: 35px;
    padding: 0;
    font-size: 14px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #3498db;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 4px;
}

.color {
    background-color: transparent;
    border-radius: 8px;
    width: 35px;
    height: 35px;
    float: right;
}

#text {
    bottom: 0px;
    background-color: #E5E5EAAA;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: default;
    width: 190px;
    text-transform:none;
    text-shadow: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
}

.container {
    background-color: #000000AA;
    background: linear-gradient(to right, #005c97, #363795);
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: default;
    width: 178px;
    text-transform: none;
    text-shadow: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    padding: 5px;
    margin: 10px 0;
    font-size: 14px;
}

.time-right {
    float: right;
    position: relative;
    color: #3498db;
    //right: -35px;
}

.container p {
    margin: 0;
    max-width: 100%;
}

.eyeDropper {
    cursor: url('../cursors/eyedropper.cur'), auto;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#startDropper {
    padding: 5px;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    margin-top: 2.5px;
    float: right;
    background-color: transparent;
}

.active {
    background-color: #3498db!important;
}

#chat-window {
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

::placeholder {
  color: white;
}

.alert {
    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.alttime {
    color: orange;
}

.username {
    color: #fffb;
}

.greenDot {
    height: 12px;
    width: 12px;
    background: #56ab2f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    box-shadow: 0 0px 8px #a8e063;
}
#online {
    color: white;
    font-size: 14px;
}

#username {
    float: right;
    color: #3498db;
    font-size: 14px;
}
